rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isValidId(id) {
      return id is string && id.size() > 0 && id.size() <= 128;
    }

    match /clinical_records/{recordId} {
      allow read, write: if true;
    }

    match /psychologists/{userId} {
      allow read, write: if true;
    }

    match /active_sessions/{sessionId} {
      allow read, write: if true;
    }
  }
}
